---
---
<nav>
    <div class="container nav-content">
        <div class="nav-links">
            <a href="/#about">INFO</a>
            <a href="/#exp">QUESTS</a>
            <a href="/#skills">STATS</a>
            <a href="/logs">LOGS</a>
        </div>
    </div>
</nav>

