---
interface Props {
    id?: string;
    title: string;
}

const { id, title } = Astro.props;
---
<section id={id}>
    <h2>{title}</h2>
    <slot />
</section>

<style>
    section { 
        padding: 80px 0; 
        border-bottom: 1px solid rgba(0, 242, 255, 0.1); 
    }

    h2 { 
        font-size: 1.2rem; 
        color: var(--primary); 
        margin-bottom: 40px; 
        display: flex; 
        align-items: center; 
    }

    h2::before { 
        content: '>'; 
        margin-right: 15px; 
    }
</style>
