---
import '../styles/global.css';

interface Props {
	title: string;
    description?: string;
}

const { title, description = "Fatih Kavum | Senior Game & Software Engineer Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Fatih Kavum</title>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
